@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Noto+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1vw;
    height: 100vh;
    background-image: url(/Image/background\ Africa.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
}
.header{
    position: fixed;
    top: 0;
    padding-top: 1vw;
    text-align: left;
    padding-left: 1vw;
    border-radius: 2vw;
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    height: 15vw;
}
.contact{
    text-align: right;
    padding-right: 1vw;
    font-size: 3vw;
}
a i{
    color: white;
    padding-left: 2vw;
}
main{
    margin-top: 20%;
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
}
nav {
    border: 1vw solid #D0957E;
    border-radius: 3vw;
    margin: 0 auto 1vw;
    max-width: 60vw;
    font-size: 4vw;
    line-height: 8vw;
}
h2{
    padding: 1vw;
    background-color: #D0957E;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1vw solid #D0957E;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
li a{
    display: block;
}
li a:hover,
li a:focus{
    background: #D0957E;
}
li:last-child a{
    border-radius: 0 0 2vw 2vw;
}
