@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1vw;
    text-align: center;
    
    height: 100vh;
    background-image: url(/Africa.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 2vw;
    padding-right: 2vw;

}
header{
    background-color: #D0957E;
    font-size: 4vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
logo{
    letter-spacing: 1vw;
    font-weight: bolder;
    font-family: 'Lora', serif;
}
.headlogo{
    font: weight 600;
}
.contant{
    text-align: right;
    padding: 1vw 1vw 1vw 1vw;
    color: darkslategrey;
}
main{
    margin-top: 20vh;
}
nav {
    border: 1vw solid #D0957E;
    border-radius: 3vw;
    margin: 0 auto 1vw;
    max-width: 60vw;
    font-size: 4vw;
    line-height: 8vw;
}
h2{
    padding: 1vw;
    background-color: #D0957E;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1vw solid #D0957E;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
li a{
    display: block;
}
li a:hover,
li a:focus{
    background: #D0957E;
}
li:last-child a{
    border-radius: 0 0 2vw 2vw;
}
